* {
    padding: 0;
    margin: 0;
}

body {


    font-family: "Gabarito", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;

}

.navbar {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    gap: 10px;
    border-bottom: solid black 0.5px;
    align-items: center;

}

.navbar__s1__title {
    color: #A435F0;
}

.navbar__s2 {
    padding: 10px;
    border: solid black 0.5px;
    border-radius: 30px;
    width: 60%;
    display: flex;

}

.navbar__s2__input {
    border: none;
    width: 100%;
}

.navbar__s2__input:focus {
    outline: none;
}

.navbar__s3 {
    display: flex;
    gap: 20px;

}

.catg {
    display: flex;
    justify-content: space-around;
    padding: 10px;
    border-bottom: solid black 0.5px;




}

.catg p {
    border-radius: 30px;
    color: white;
    background-color: #A435F0;
    padding: 10px;

}

.saleimage img {
    width: 100%;

}

.recommended {
    padding: 10px;
}

.recommended__container {
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

}

.course-card {
    width: 350px;
}

.course-card img {
    height: 50%;
    width: 100%;

}

.topic {
    padding: 10px;
    margin: 10px;
}

.topic__container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.topic__container p {
    border: solid gray 1px;
    padding: 10px;
    margin-top: 10px;
    flex-grow: 1;
    flex-basis: 25%;

}
.Popular{
    padding: 10px;
}

.Popular__container {
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

   
}
.footer__s1{
    display: flex;
    padding: 10px;
}
.footer__s2{
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    padding: 10px;
}
.footer__s1__one{
    padding-right: 50px;

}
.footer__s1__one p{
    padding: 5px;
}
.footer__s1__two p{
    padding: 5px;
}
.footer{
    color: white;
    background-color: black;
    padding: 30px;

}
